.chessboard {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    user-select: none;
    //grid-template-rows: repeat(8, 1fr);
  }
  .game-over {
    pointer-events: none;
  }